@model List<CategoryModel>;

@{
    ViewData["Title"] = "Categorias";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-outline-primary" asp-action="CategoryAdd" asp-controller="Category">Agregar Categoria</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {

            <tr>
                <td>@p.Name</td>
                <td>@p.descripcion</td>
                <td>
                    @* *@
                    <a class="btn btn-outline-info" asp-action="CategoryEdit" asp-controller="Category" asp-route-id="@p.Id">Editar</a>
                    @* *@
                    <a class="btn btn-outline-info" asp-action="CategoryDeleted" asp-controller="Category" asp-route-id="@p.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
